<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<!--//TODO : décaler le copyright à gauche, lui retirer la classe item (créer une grid)-->
<div th:fragment="footer">
    <footer class="footer">
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui horizontal inverted small divided link list">
                    <p class="item">&copy; IAmTerror 2018-2019</p>
                    <a class="item" href="#">Site Map</a>
                    <a class="item" href="#">Contact Us</a>
                    <a class="item" href="#">Terms and Conditions</a>
                    <a class="item" href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript"
            src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

    <script type="text/javascript"
            src="webjars/Semantic-UI/2.4.1/semantic.min.js"></script>

    <script src="webjars/tinymce/4.7.9/tinymce.min.js"
            th:src="@{/webjars/tinymce/4.7.9/tinymce.min.js}"></script>
    <script type="application/javascript">
        $('.ui.dropdown.item')
            .dropdown();
    </script>

</div>
</body>
</html>