<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
              href="/webjars/bootstrap/4.1.3/css/bootstrap.css"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="/static/css/main.css"/>
    </th:block>
</head>
<body>
<div th:fragment="header">
    <header>
        <a th:href="@{/}">Retour à la liste des films</a>
        <a th:href="@{/liste-acteurs}">Retour à la liste des acteurs</a>
    </header>
</div>
</div>
</body>
</html>