/*Bootstrap Version TEMP*/

/*html {*/
    /*position: relative;*/
    /*min-height: 100%;*/
/*}*/

/*body {*/
    /*padding-top: 5%;*/
    /*padding-bottom: 5%;*/
/*}*/

/*.bg-dark {*/
    /*background-color: #0056b3 !important;*/
/*}*/

/*body {*/
    /*!*background-color: #212529;*!*/
/*}*/

/*h1, h2, h3, h4, h5, h6, p, label, legend, fieldset, span {*/
    /*!*color: white;*!*/
    /*!*margin-top: 0.5rem;*!*/
    /*!*margin-bottom: 0.5rem;*!*/
/*}*/

/*.pageTitre {*/
    /*!*color: white;*!*/
    /*!*margin-top: 0.5rem;*!*/
    /*!*margin-bottom: 0.5rem;*!*/
    /*font-size: 36px;*/
/*}*/

/*.fas {*/
    /*color : white;*/
    /*padding-right: 0.5rem;*/
/*}*/

/*.fas:hover {*/
    /*color: #34A1FB*/
/*}*/

/*footer {*/
    /*background-color: #0056b3 !important;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
/*}*/

/*.corps {*/
    /*padding-left: 1%;*/
    /*padding-right: 1%;*/
/*}*/

/*.afficheFilm, .posterPersonne {*/
    /*width: 15%;*/
    /*height: 15%;*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-top: 2%;*/
    /*padding-bottom: 2%;*/
/*}*/

/*.posterPersonneInFilmView, .afficheFilmInPersonView {*/
    /*width: 80%;*/
    /*height: 80%;*/
/*}*/

/*.button-add {*/
    /*margin-bottom: 15px;*/
    /*float: right;*/
/*}*/


/*----------------------------------------------------------------------*/


html, body {
    /* property for : sticky footer with flexbox */
    height: 100%;
}

body {
    /* property for : sticky footer with flexbox */
    /* https://css-tricks.com/couple-takes-sticky-footer/ */
    display: flex;
    /* property for : sticky footer with flexbox */
    flex-direction: column;
}

.content {
    /* property for : sticky footer with flexbox */
    flex: 1 0 auto;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 1%;
}

.footer {
    /* property for : sticky footer with flexbox */
    flex-shrink: 0;
}

/* ==================== REDUCE FOOTER SIZE ====================*/
.ui.grid > .column:not(.row) {
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.ui.section.divider {
    margin-bottom: 0rem;
}
/* -------------------------------------------------------------------------------- */
