html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 5%;
    padding-bottom: 5%;
}

.bg-dark {
    background-color: #0056b3 !important;
}

body {
    background-color: black;
}

h1, h2, h3, p {
    color: white;
}

.fas {
    color : white;
    padding-right: 0.5rem;
}

.fas:hover {
    color: #34A1FB
}

footer {
    background-color: #0056b3 !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.corps {
    padding-left: 1%;
    padding-right: 1%;
}