<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editer un genre</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="content">
    <form class="ui form" form action="#" th:action="@{/genre/add}" th:object="${genre}" method="post">
        <input type="hidden" th:field="${genre.id}"/>
        <h4 class="ui dividing header">Ajouter / Modifier un genre</h4>
        <div class="field">
            <label th:for="genre">Nom du genre</label>
            <input type="text" th:field="${genre.name}" placeholder="ex : Comédie">
        </div>
        <button class="ui button" type="submit" th:name="create" >Editer un genre</button>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>