<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Liste des genres</title>-->
    <!--<div th:replace="fragments/header :: header-css"/>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments/header :: header"/>-->
<!--<div class="content">-->
    <!--&lt;!&ndash;<span class="pageTitre" th:text="'Liste des genres'"></span>&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="btn btn-primary btn-lg button-add" th:href="@{'/genre/add'}" role="button">Ajouter un genre</a>&ndash;&gt;-->

    <!--&lt;!&ndash;<table class="table table-hover table-bordered table-sm">&ndash;&gt;-->
        <!--&lt;!&ndash;<tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<th>ID</th>&ndash;&gt;-->
            <!--&lt;!&ndash;<th>Nom</th>&ndash;&gt;-->
            <!--&lt;!&ndash;<th>Action</th>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr th:each="genre : ${genres}">&ndash;&gt;-->
            <!--&lt;!&ndash;<td class="col-md-1">&ndash;&gt;-->
                <!--&lt;!&ndash;<a th:text="${genre.id}" th:href="@{/genre/detail/{id}(id=${genre.id})}"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td class="col-md-9">&ndash;&gt;-->
                <!--&lt;!&ndash;<a th:text="${genre.name}" th:href="@{/genre/detail/{id}(id=${genre.id})}"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td class="col-md-2 text-center">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="btn btn-warning btn-sm"&ndash;&gt;-->
                   <!--&lt;!&ndash;th:href="@{'/genre/mod/' + ${genre.id}}">Modifier</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="btn btn-danger btn-sm" th:href="@{'/genre/delete/' + ${genre.id}}">Supprimer</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--&lt;!&ndash;</table>&ndash;&gt;-->
    <!--<h2 class="ui dividing header" th:text="'Liste des genres'">Liste des genres</h2>-->
    <!--<a class="ui right floated primary button" th:href="@{'/genre/add'}">Ajouter un genre</a>-->
    <!--<table class="ui celled table">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>ID</th>-->
            <!--<th>Nom</th>-->
            <!--<th>Action</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:each="genre : ${genres}">-->
            <!--<td class="two wide">-->
                <!--<a th:text="${genre.id}" th:href="@{/genre/detail/{id}(id=${genre.id})}"></a>-->
            <!--</td>-->
            <!--<td class="twelve wide">-->
                <!--<a th:text="${genre.name}" th:href="@{/genre/detail/{id}(id=${genre.id})}"></a>-->
            <!--</td>-->
            <!--<td class="two wide center aligned">-->
                <!--<a th:href="@{'/genre/mod/' + ${genre.id}}"><i class="edit big icon"></i></a>-->
                <!--<a th:href="@{'/genre/delete/' + ${genre.id}}"><i class="red erase big icon"></i></a>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->
<!--<div th:replace="fragments/footer :: footer"/>-->
<!--</body>-->
<!--</html>-->


