<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des films</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<h1 th:text="'Liste des films :'"></h1>

<div th:each="film : ${films}">
    <a th:text="${film.titre} + ' ('+${film.notation}+')'" th:href="@{/film/{id}(id=${film.id})}"></a>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>