<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des personnes</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="corps">
    <h1 th:text="'Liste des personnes :'"></h1>
    <div th:each="personne : ${personnes}">
        <a th:text="${personne.nom}+' '+${personne.prenom}" th:href="@{/personne/{id}(id=${personne.id})}"></a>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>


