<!--<!DOCTYPE html>-->

<!--&lt;!&ndash;TODO: ajouter du Bootstrap, voir si le framework propose des fieldset&ndash;&gt;-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Créer une personne</title>-->
    <!--<div th:replace="fragments/header :: header-css"/>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments/header :: header"/>-->
<!--<div class="corps">-->
    <!--<h1>Créer une personne :</h1>-->

    <!--<form action="#" th:action="@{/person/add}" th:object="${personne}" method="post">-->
        <!--<legend>Personne</legend>-->
        <!--<input type="hidden" th:id="id" th:name="id" th:value="${personne.id}"/>-->
        <!--<div class="form-group row">-->
            <!--<label class="col-sm-2 col-form-label" th:for="nom">Nom : </label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control" th:id="nom" th:name="nom" th:value="${personne.nom}"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group row">-->
            <!--<label class="col-sm-2 col-form-label" th:for="prenom">Prénom : </label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control" th:id="prenom" th:name="prenom" th:value="${personne.prenom}"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group row">-->
            <!--<label class="col-sm-2 col-form-label" th:for="naissance">Naissance : </label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control" th:id="naissance" th:name="naissance"-->
                       <!--th:value="${personne.naissance}"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="button">-->
            <!--<button type="submit" class="btn btn-primary" th:name="create">Créer une personne</button>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
<!--<div th:replace="fragments/footer :: footer"/>-->
<!--</body>-->
<!--</html>-->