<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${actor.surname}">Title</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="corps">
    <h1 th:text="${actor.givenname}+' '+${actor.surname}"></h1>
    <img class="posterPersonne" th:src="'/person/posters/'+${actor.imagePath}">
    <h6 th:text="'Date de naissance : '+${#temporals.format(actor.birthday, 'dd-MM-yyyy')}">Resumé</h6>
    <h6 th:text="'Filmographie :'"></h6>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12" th:each="actor : ${actor.getRoles()}">
                <a th:href="@{/film/detail/{Id} (Id=${actor.getFilm().getId()})}">
                    <img class="afficheFilmInPersonView"
                         th:src="'/film/affiches/'+${actor.getFilm().getImagePath()}">
                </a>
                <br/>
                <a th:text="${actor.getFilm().getTitle()}"
                   th:href="@{/film/detail/{Id} (Id=${actor.getFilm().getId()})}"></a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>

