<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editer une personne</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="content">
    <h2 class="ui dividing header">Ajouter / Modifier une personne</h2>

    <form class="ui form" action="#" th:action="@{/person/add}" th:object="${actor}" enctype="multipart/form-data" method="post">
        <input type="hidden" th:field="${actor.id}"/>
        <input type="hidden" th:field="${actor.imagePath}"/>
        <div class="field">
            <label th:for="surname">Nom</label>
            <input type="text" th:field="${actor.surname}"/>
        </div>
        <div class="field">
            <label th:for="givenname">Prénom</label>
            <input type="text" th:field="${actor.givenname}"/>
        </div>
        <div class="field">
            <label th:for="birthday">Date de naissance</label>
            <input type="date" th:field="${actor.birthday}"/>
        </div>
        <div class="field">
            <label th:for="photo">Ajouter une photo</label>
            <input type="file" name="photo"/> <span th:text="${actor.imagePath}">Fichier photo</span>
        </div>
        <button type="submit" th:name="create" class="ui button">Editer une personne</button>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>