<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editer une personne</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="corps">
    <h1>Editer une personne :</h1>

    <form action="#" th:action="@{/person/add}" th:object="${personne}" enctype="multipart/form-data" method="post">
        <input type="hidden" th:id="id" th:name="id" th:value="${personne.id}"/>
        <input type="hidden" th:field="${personne.imagePath}"/>
        <div class="form-group row">
            <label th:for="nom" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:id="nom" th:name="nom" th:value="${personne.nom}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="prenom" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:id="prenom" th:name="prenom" th:value="${personne.prenom}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="nom" class="col-sm-2 col-form-label">Date de naissance</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:id="naissance" th:name="naissance"
                       th:value="${personne.naissance}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="nom" class="col-sm-2 col-form-label">Ajouter une photo</label>
            <div class="col-sm-10">
                <input type="file" class="btn btn-secondary btn-sm" name="photo"/> <span th:text="${personne.imagePath}">Fichier photo</span>
            </div>
        </div>
        <div class="button">
            <button type="submit" th:name="create" class="btn btn-primary">Editer une personne</button>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>