<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des personnes</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="content">
    <h3 class="ui dividing header" th:text="'Liste des personnes'">Liste des personnes</h3>
    <a class="ui right floated primary button" th:href="@{'/person/add'}">Ajouter une personne</a>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Photo</th>
            <th>ID</th>
            <th>Nom</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actor : ${actors}">
            <td class="one wide">
                <div class="ui mini images">
                    <img class="ui image" src="#" th:src="'/person/posters/'+${actor.imagePath}"/>
                </div>
            </td>
            <td class="eleven wide">
                <a th:text="${actor.id}" th:href="@{/person/detail/{id}(id=${actor.id})}"></a>
            </td>
            <td class="two wide">
                <a th:text="${actor.surname}+' '+${actor.givenname}" th:href="@{/person/detail/{id}(id=${actor.id})}"></a>
            </td>
            <td class="two wide center aligned">
                <a th:href="@{'/person/mod/' + ${actor.id}}"><i class="edit big icon"></i></a>
                <a th:href="@{'/person/delete/' + ${actor.id}}"><i class="red erase big icon"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>


