<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editer un film</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="content">
    <form class="ui form" action="#" th:action="@{/film/add}" th:object="${film}" enctype="multipart/form-data"
          method="post">
        <input type="hidden" th:field="${film.id}"/>
        <input type="hidden" th:field="${film.imagePath}"/>
        <h4 class="ui dividing header">Ajouter / Modifier un film</h4>
        <div class="field">
            <label th:for="title">Titre</label>
            <input type="text" th:field="${film.title}">
        </div>
        <div class="field">
            <label th:for="title">Notation</label>
            <input type="text" th:field="${film.rating}">
        </div>
        <div class="field">
            <label th:for="title">Résumé</label>
            <input type="text" th:field="${film.summary}">
        </div>
        <div class="field">
            <label th:for="title">Date de sortie</label>
            <input type="date" th:field="${film.releaseDate}">
        </div>
        <div class="field">
            <label th:for="genres">Genre n°1</label>
            <input list="genres1" id="genre1" name="genres" th:field="${film.genres}">
            <datalist id="genres1">
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:label="${genre.name}"></option>
            </datalist>
            </input>
        </div>
        <div class="field">
            <label th:for="genres">Genre n°2</label>
            <input list="genres2" id="genre2" name="genres" th:field="${film.genres}">
            <datalist id="genres2">
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:label="${genre.name}"></option>
            </datalist>
            </input>
        </div>
        <div class="field">
            <label th:for="genres">Genre n°3</label>
            <input list="genres3" id="genre3" name="genres" th:field="${film.genres}">
            <datalist id="genres3">
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:label="${genre.name}"></option>
            </datalist>
            </input>
        </div>
        <div class="field">
            <label th:for="poster">Ajouter une photo</label>
            <input type="file" name="poster"/>
            <span th:text="${film.imagePath}">Fichier photo</span>
        </div>
        <button class="ui button" type="submit" th:name="create">Editer un film</button>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>