<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des films</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="content">
    <h3 class="ui dividing header" th:text="'Liste des films'">Liste des films</h3>
    <a class="ui right floated primary button" th:href="@{'/film/add'}">Ajouter un film</a>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Photo</th>
            <th>ID</th>
            <th>Nom</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
            <td class="one wide">
                <div class="ui mini images">
                <img class="ui image" src="#" th:src="'/film/affiches/'+${film.imagePath}"/>
                </div>
            </td>
            <td class="one wide">
                <a th:text="${film.id}" th:href="@{/film/detail/{id}(id=${film.id})}"></a>
            </td>
            <td class="twelve wide">
                <a th:text="${film.title}" th:href="@{/film/detail/{id}(id=${film.id})}"></a>
            </td>
            <td class="two wide center aligned">
                <a th:href="@{'/film/mod/' + ${film.id}}"><i class="edit big icon"></i></a>
                <a th:href="@{'/film/delete/' + ${film.id}}"><i class="red erase big icon"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>