<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier un film</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="corps">
    <h1>Modifier un film :</h1>

    <form action="#" th:action="@{/film/update}" th:object="${film}" method="post">
        <legend>Film</legend>
        <input type="hidden" th:id="id" th:name="id" th:value="${film.id}"/>
        <br/>
        <div>
            <div class="form-group row">
                <label th:for="nom" class="col-sm-1 col-form-label">Titre : </label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" th:id="titre" th:name="titre" th:value="${film.titre}"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="button">
            <button type="submit" th:name="create" class="btn btn-primary">Modifier un film</button>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>