<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editer un rôle</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="content">
    <h2 class="ui dividing header">Ajouter / Modifier un rôle</h2>

    <form action="#" class="ui form" th:action="@{/role/add}" th:object="${role}" method="post">
        <input type="hidden" th:field="${role.id}"/>
        <div class="field">
            <label th:for="roleName">Nom du rôle</label>
            <div class="col-sm-10">
                <input type="text" th:field="${role.name}"/>
            </div>
        </div>
        <div class="field">
            <label th:for="persons">Acteur</label>
            <input list="persons" id="personsList" name="persons" th:field="${role.actor}">
            <datalist id="persons">
                <option th:each="person : ${persons}" th:value="${person.id}"
                        th:label="${person.givenname}"></option>
            </datalist>
            </input>
        </div>
        <div class="field">
            <label th:for="films">Film</label>

            <input list="films" th:field="${role.film}">
            <datalist id="films">
                <option th:each="film : ${films}" th:value="${film.id}" th:label="${film.title}"></option>
            </datalist>
            </input>
        </div>
        <div class="field">
            <label th:for="rank">Rang</label>
            <input type="text" th:field="${role.rank}"/>
        </div>
        <button type="submit" th:name="create" class="ui button">Editer un rôle</button>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>