<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des rôles</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="content">
    <!--<span class="pageTitre" th:text="'Liste des rôles'"></span>-->
    <!--<a class="btn btn-primary btn-lg button-add" th:href="@{'/role/add'}" role="button">Ajouter un rôle</a>-->


    <!--<table class="table table-hover table-bordered table-sm">-->
        <!--<tr>-->
            <!--<th>ID</th>-->
            <!--<th>Nom du rôle</th>-->
            <!--<th>Acteur</th>-->
            <!--<th>Film</th>-->
            <!--<th>Rang</th>-->
            <!--<th>Action</th>-->
        <!--</tr>-->
        <!--<tr th:each="role : ${roles}">-->
            <!--<td class="col-md-1">-->
                <!--<a th:text="${role.id}"></a>-->
            <!--</td>-->
            <!--<td class="col-md-2">-->
                <!--<a th:text="${role.name}"></a>-->
            <!--</td>-->
            <!--<td class="col-md-3">-->
                <!--<a th:text="${role.actor.givenname}+' '+${role.actor.surname}"-->
                   <!--th:href="@{/person/detail/{id}(id=${role.id})}"></a>-->
            <!--</td>-->
            <!--<td class="col-md-3">-->
                <!--<a th:text="${role.film.title}" th:href="@{/film/detail/{id}(id=${role.film.id})}"></a>-->
            <!--</td>-->
            <!--<td class="col-md-1">-->
                <!--<a th:text="${role.rank}"></a>-->
            <!--</td>-->
            <!--<td class="col-md-2 text-center">-->
                <!--<a class="btn btn-warning btn-sm"-->
                   <!--th:href="@{'/role/mod/' + ${role.id}}">Modifier</a>-->
                <!--<a class="btn btn-danger btn-sm" th:href="@{'/role/delete/' + ${role.id}}">Supprimer</a>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
    <h2 class="ui dividing header" th:text="'Liste des rôles'">Liste des rôles</h2>
    <a class="ui right floated primary button" th:href="@{'/role/add'}">Ajouter un rôle</a>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom du rôle</th>
            <th>Acteur</th>
            <th>Film</th>
            <th>Rang</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles}">
            <td class="one wide">
                <a th:text="${role.id}"></a>
            </td>
            <td class="four wide">
                <a th:text="${role.name}"></a>
            </td>
            <td class="four wide">
                <a th:text="${role.actor.surname}+' '+${role.actor.givenname}" th:href="@{/person/detail/{id}(id=${role.id})}"></a>
            </td>
            <td class="four wide">
                <a th:text="${role.film.title}" th:href="@{/film/detail/{id}(id=${role.film.id})}"></a>
            </td>
            <td class="one wide">
                <a th:text="${role.rank}"></a>
            </td>
            <td class="two wide center aligned">
                <a th:href="@{'/role/mod/' + ${role.id}}"><i class="edit big icon"></i></a>
                <a th:href="@{'/role/delete/' + ${role.id}}"><i class="red erase big icon"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>


